/* card */

$card-bg: #fff;
$card-min-height:40px;

/* card header */

$card-header-height:50px;
$card-header-line-height:50px;
$card-header-bg:#c46633;
$card-header-title:18px;

/* componente modify */
$card-header-primary-bg: #4d6463;
$card-header-info-bg:#d4d4d4;