.heading-primary{
	width:100%;
	background-color:#fff;
	height:50px;
	box-shadow:1px 1px 10px -2px rgba(0,0,0,0.4);
	position:fixed;
	left:0;
	top:0;
	padding:.4rem 0;
	z-index:1;
	.heading-left,
	.heading-right{
		@extend .col-xs-6;
	}
	.heading-right{
		text-align:right;
	}
	.heading-link{
		color:#b0bec5;
		font-size:1.5rem;
		padding:0 .4rem;
	}

}

